#dataEntry{

    height:15rem;
    width:18rem;
    padding:1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: ghostwhite;
    opacity: 0.8;
    
}

#dataEntry > button{
    width:5rem;
    border-radius: 1rem;
    margin:2.5rem;
    margin-left:4.5rem;
}

#heading{
    color: goldenrod;
}
#displayarea{
    min-height:50vh;
    height: auto;
    width:60vw;
    margin-left:10rem;
}

#displayarea .container{
    width:75%;
}
#displayarea .container .row{
    height: 5rem;
    border: 1px solid black;
    border-radius: 0.8rem;
    padding:1.5rem;
    background-color: ghostwhite;
    opacity:0.8;
}

.button-area{
    display: flex;
    justify-content: space-evenly;
    position:relative;
    bottom:20%;
}